@use "../1-base/variaveis";
@use "../1-base/responsividade";
@use "layouts-mixins";

.opiniao-produto {
    margin-bottom: 80px;
}
.opiniao-produto-info {
    @include layouts-mixins.container-layout;
    gap: 15px;
    align-items: center;
    @include responsividade.dispositivo(p) {
        flex-wrap: wrap;
    }
    @include responsividade.dispositivo(xp) {
        max-width: 90%;
    }

    h2 {
        @include layouts-mixins.fonte(variaveis.$preto, 35px, 41px, bold);
        @include responsividade.dispositivo(p) {
            flex-grow: 1;
            flex-basis: 100%;
        }
        @include responsividade.dispositivo(xp) {
            font-size: 30px;
            line-height: 35px;
        }
    }
    p {
        @include layouts-mixins.fonte(variaveis.$preto, 16px, 19px);
    }
    hr {
        flex: 1;
        @include responsividade.dispositivo(p) {
            display: none;
        }
    }
}

.container-opiniao {
    @include responsividade.dispositivo(p) {
        button {
            display: none;
        }
    }
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .container-slide {
        width: variaveis.$container-largura;
        box-sizing: border-box;
        @include responsividade.dispositivo(xp) {
            justify-content: center;
        }
    }
}

.slide {
    @include layouts-mixins.box(30px);
    width: 375px;
    flex-shrink: 0;
    min-height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include responsividade.dispositivo(xp) {
        width: 90%;
        height: 100%;
    }
    h3 {
        @include layouts-mixins.fonte(variaveis.$preto, 30px, 37px, bold);
        margin-bottom: 12px;
        @include responsividade.dispositivo(xp) {
            font-size: 25px;
            line-height: 30px;
        }
    }
    .container-estrela {
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    p {
        @include layouts-mixins.fonte(variaveis.$preto, 18px, 28px);
        margin-bottom: 10px;

        min-height: 84px;

        &:last-child {
            font-weight: 300;
            min-height: 0;

            @include responsividade.dispositivo(xp) {
                font-size: 13px;
                line-height: 15px;
            }
        }
    }
}

.gallery-cell {
    margin-right: 20px;
    counter-increment: gallery-cell;
}
